
<div class="container">
  <div class="row">
    <div class="col-12">


      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Chapter 301</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dinamic FormGroup Array</h6>
          <p class="card-text"><app-chapter301></app-chapter301>          </p>

        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chapter 302</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dinamic FormGroup/FormArray</h6>
           <app-chapter302></app-chapter302>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Chapter 303</h5>
          <h6 class="card-subtitle mb-2 text-muted">Dinamic FormArray Controls</h6>
          <app-chapter303></app-chapter303>
        </div>
      </div>

    </div>
  </div>

</div>

