<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-2 min-vh-100 bg-primary">
        <ul class="list-group mt-5">
          <li class="list-group-item list-group-item-action">
            <a class="link-dark" [routerLink]="['/']">Dashboard</a>
          </li>

          <li class="list-group-item list-group-item-danger">
            <a class="link-dark" [routerLink]="['/chapter0']" title="load dynamic component">Chapter 0</a>
          </li>

          <li class="list-group-item list-group-item-dark">
            <a class="link-dark" [routerLink]="['/chapter1']" title="load dynamic html">Chapter 1</a>
          </li>

          <li class="list-group-item list-group-item-info">
            <a class="link-dark" [routerLink]="['/chapter2']" title="dynamic form">Chapter 2</a>
          </li>

          <li class="list-group-item list-group-item-light">
            <a class="link-dark" [routerLink]="['/chapter3']" title="dynamic form component">Chapter 3</a>
          </li>

          <li class="list-group-item list-group-item-primary">
            <a class="link-dark" [routerLink]="['/chapter6']">Chapter 6</a>
          </li>
          <li class="list-group-item list-group-item-secondary">
            <a class="link-dark" [routerLink]="['/chapter7']">Chapter 7</a>
          </li>
          <li class="list-group-item list-group-item-success">
            <a class="link-dark" [routerLink]="['/chapter8']">Chapter 8</a>
          </li>
          <li class="list-group-item list-group-item-warning">
            <a class="link-dark" [routerLink]="['/chapter9']">Chapter 9</a>
          </li>
          <li class="list-group-item list-group-item-action">
            <a class="link-dark" [routerLink]="['/chapter10']">Chapter 10</a>
          </li>
          <li class="list-group-item list-group-item-danger">
            <a class="link-dark" [routerLink]="['/chapter11']">Chapter 11</a>
          </li>
          <li class="list-group-item list-group-item-dark">
            <a class="link-dark" [routerLink]="['/chapter12']">Chapter 12</a>
          </li>
          <li class="list-group-item list-group-item-info">
            <a class="link-dark" [routerLink]="['/chapter14']">Chapter 14</a>
          </li>
          <li class="list-group-item  list-group-item-light">
            <a class="link-dark" [routerLink]="['/chapter15']">Chapter 15</a>
          </li>
          <li class="list-group-item list-group-item-primary">
            <a class="link-dark" [routerLink]="['/chapter16']">Chapter 16</a>
          </li>
          <li class="list-group-item list-group-item-secondary">
            <a class="link-dark" [routerLink]="['/chapter17']">Chapter 17</a>
          </li>

          <li class="list-group-item list-group-item-success">
            <a class="link-dark" [routerLink]="['/chapter18']">Chapter 18</a>
          </li>


          <li class="list-group-item list-group-item-warning">
            <a class="link-dark" [routerLink]="['/chapter19']">Chapter 19</a>
          </li>

          <li class="list-group-item list-group-item-action">
            <a class="link-dark" [routerLink]="['/chapter20']">Chapter 20</a>
          </li>

            <li class="list-group-item list-group-item-danger">
              <a class="link-dark" [routerLink]="['/chapter21']">Chapter 21</a>
            </li>

            <li class="list-group-item list-group-item-dark">
              <a class="link-dark" [routerLink]="['/chapter22']">Chapter 22</a>
            </li>
        </ul>
      </div>

      <div class="col-10 min-vh-100 bg-light mt-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
