<h1>Chapter 18</h1>
<hr>

<div class="container-fluid">

  <div class="container">


    <div class="row">

      <div class="col-7">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card Title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Usuario Id é {{this.userCharpter18.id}} e  nome : {{this.userCharpter18.name}}
            </p>
            <a [routerLink]="['chap181','1']" class="card-link"> Children 2 </a>
            <a [routerLink]="['chap182','2']" class="card-link"> Children 3</a>
          </div>
        </div>


      </div>

      <div class="col-5">
      <h2>18 Children route</h2>
         <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
